<!-- app/views/customers/index.html.erb -->
<h1 class="text-2xl font-bold mb-6 capitalize"><%= @customer.full_name %> Detail</h1>
<div class="overflow-x-auto bg-white shadow-md rounded-lg flex items-center justify-between">
  <div>
    <div>Contact: <%= @customer.contact %></div>
    <div>ID: <%= @customer.id_number %></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    

  </div>
</div>
